* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.divClass {

  background-color: red;
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.standardClassLook {
  background-color: rgb(221, 148, 173);
  font-size: 20px;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.largerClassLook {
  background-color: rgb(221, 148, 173);
  font-size: 24px;
}

#numberTwo {
  color:blue;
  font-size: 36px;
}

#numberFour {
  background-color: rgb(2, 255, 36);
  font-size: 24px;
}

